main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


main .content{
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    background-color: #ccc;
    border-radius: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
main .content:first-of-type{
    margin-top: 20px;
}
main .content:last-of-type{
    margin-bottom: 20px;
}

main .content img{
    width: 30%;
}
main .content .product-details div:first-of-type{
    position: relative;
    top: -15px;
    padding: 10px;
    & h2{
        color: var(--bodyFont);
        font-weight: bold;
        font-size: 30px;
        text-transform: capitalize;
    }
    & p{
        color:rgba(228, 99, 99, 0.788);
        font-weight: bold;
        font-size: 20px
    }
}
main .content p.description{
    line-height: 1.9;
    margin-bottom: 10px;
    text-shadow: 1.5px 1.5px #333;
}
main .content button{
    background-color: rgb(45, 143, 235);
    padding: 15px;
    border-radius: 6px;
    color: whitesmoke;
    margin: 20px auto;

}

@media (max-width: 991px) {
    main .content{
        text-align: center;
        flex-wrap: wrap;
    }
    main ,.content img{
        margin-inline: auto;
        margin-bottom: 10px;
    }
    main .content .product-details div:first-of-type{
        top:5px;
    
    }
}
