body{
    background-color:  #02020a;
}

form{
    box-shadow: 8px 8px  10px rgb(235, 234, 234);
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color: rgb(210, 255, 255);
    & label{
        display: block;
        text-align: left;
        margin: 10px auto;
    } 
    & input{
        width: 100%;
        transition: 2s;
    }
    & button{
        background-color: rgb(53, 84, 236);
        color: rgb(210, 255, 255);
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;

    }
}